<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TODO</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js" type="text/javascript"></script>
  <script src="https://unpkg.com/vue@2.3.3" type="text/javascript"></script>
  <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js" type="text/javascript"></script>
</head>
<body>
  {% raw %}
  <div id="app" class="container">
    <h1>Realtime TODO example</h1>
    <p>Open multiple windows to the same page and make updates below.</p>
    <div class="form-group">
      <small>Remaining todos: {{ remainingTodos }}</small>
      <ul class="todo-list">
        <li class="todo-item checkbox" v-for="todo in todos">
          <label>
            <input type="checkbox" v-model="todo.done" v-on:click="updateTodo(todo, todo.done)">
            <input type="text" v-model="todo.title" v-on:change="updateTodo(todo, todo.done)">
          </label>
        </li>
      </ul>
      <input class="form-input" type="text" v-model="template.title" placeholder="Add new todo">
      <button class="btn btn-primary" v-on:click="insertTodo()">Add</button>
      <button class="btn btn-danger" v-on:click="clearDone()">Clear</button>
    </div>
  </div>
  {% endraw %}
  <script type="text/javascript">
    var vue = new Vue({
      el:       '#app',
      data:     {
        template: {
          title: '',
          done:  false
        },
        todos: {{todos|tojson}}
      },
      computed: {
        // calculates the tasks remaining to be completed
        remainingTodos: function () {
          function notDone(todo) {
            return todo.done === false;
          }

          return this.todos.filter(notDone).length;
        }
      },
      methods:  {
        // inserts a new task into our list and database
        insertTodo: function () {
          var self = this;
          axios.post("/todos", self.template).then(function () {
            self.template.title = ''; // reset form after a successful insert
          });
        },
        // updates the associated tasks title and done status
        updateTodo: function (todo, done) {
          axios.put("/todos/" + todo.id, { title: todo.title, done: done });
        },
        // clears all of the 'done' tasks
        clearDone:  function () {
          this.todos
              .filter(function (todo) {
                return todo.done === true;
              })
              .forEach(function (todo) {
                axios.delete("/todos/" + todo.id);
              });
        }
      },
      mounted:  function () {
        // connect to our websocket endpoint and subscribe to the various update events
        var self   = this;
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('todos_insert', function (data) {
          var event = JSON.parse(data);
          // simply add the new event (order doesn't matter)
          self.todos.push(event);
        });

        socket.on('todos_update', function (data) {
          var event  = JSON.parse(data);
          // find the updated event and modify it
          self.todos = self.todos.map(function (todo) {
            if (todo.id === event.id) {
              todo.title = event.title;
              todo.done  = event.done;
            }
            return todo;
          });
        });

        socket.on('todos_delete', function (data) {
          var event  = JSON.parse(data);
          // find the deleted event and remove it
          self.todos = self.todos.filter(function (todo) {
            return todo.id !== event.id;
          });
        });
      }
    });
  </script>
</body>
</html>